<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager - Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main_page_styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Task Manager</h1>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#agregar-tarea">Agregar Tarea</a></li>
                <li><a href="#tareas-pendientes">Revisar Tareas Pendientes</a></li>
            </ul>
        </nav>
        <div class="main-content" id="actualizar-tarea">
            <h2>Actualizar Tarea</h2>
            <form action="/agregar-tarea" method="POST">
                <div class="form-group">
                    <label for="title">Id:</label>
                    <input type="text" id="id" name="id" required>
                </div>
                <div class="form-group">
                    <label for="title">Título:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="priority">Prioridad:</label>
                    <input type="number" id="priority" name="priority" required>
                </div>
                <div class="form-group">
                    <label for="complete">Completado:</label>
                    <input type="checkbox" id="complete" name="complete">
                </div>
                <button type="submit" class="cta-button">Actualizar Tarea</button>
            </form>
        </div>
    </div>
</body>
</html>
